<div class="flex w-full gap-2 items-center">
  <input
    #keyword
    class="w-3/4 lg:w-8/12 p-2 rounded-lg border border-gray-300 hover:border-gray-500 focus:outline-none focus:border-gray-500 transition-colors duration-300 ease-in-out"
    placeholder="Search for product"
    (keyup.enter)="handleSearchByKeyword(keyword.value)"
  />

  <button
    class="w-1/4 lg:w-2/12 p-2 rounded-lg bg-gray-400 text-white hover:bg-gray-500 active:bg-gray-600 transition-colors duration-100 ease-in-out"
    (click)="handleSearchByKeyword(keyword.value)"
  >
    Search
  </button>

  <app-login-status class="hidden lg:block"></app-login-status>

  <app-cart-status class="hidden lg:block"></app-cart-status>
</div>
