<div class="flex flex-col gap-4">
  <div *ngIf="products.length === 0" class="flex flex-col items-center justify-center text-center ">
    <img src="assets/images/no_products.png" alt="No products" class="w-4/5 lg:w-2/5 h-auto mb-4"/>
    <p class="text-gray-500 text-lg font-semibold">No products available at the moment.</p>
  </div>
  
  
  <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 grid-flow-row gap-4">
    <div *ngFor="let tempProduct of products">
      <div 
        class="flex flex-col pt-2 px-4 rounded-lg bg-white h-full shadow-lg"
        routerLink="/products/{{ tempProduct.id }}"
      >
        <img src="{{ tempProduct.imageUrl }}" alt="product image" class="pb-4"/>
        <span class="font-extrabold w-full line-clamp">{{ tempProduct.name }} </span>
        <div class="flex justify-end">
          <span class="font-semibold color-price">{{ tempProduct.unitPrice | currency}}</span>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>

<div class="fixed bottom-0 inset-x-0 flex justify-end space-x-2 my-4 px-4 z-20">
  <ngb-pagination
    class="custom-pagination"
    [(page)]="currentPageNumber"
    [pageSize]="currentPageSize"
    [collectionSize]="totalElements"
    [maxSize]="3"
    (pageChange)="handleRouteParameters()"
  >
  </ngb-pagination>
  <div class="relative inline-block text-left">
    <button
      type="button"
      class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
      id="menu-button"
      aria-expanded="true"
      aria-haspopup="true"
      (click)="toggleDropdown()"
    >
      {{ currentPageSize }}
      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  
    <div
      *ngIf="isDropdownChangePageSizeOpen"
      class="absolute right-0 bottom-full mb-2 w-32 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="py-1" role="none">
        <a
          *ngFor="let size of pageSizes"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
          role="menuitem"
          tabindex="-1"
          (click)="updatePageSize(size)"
        >
          {{ size }}
        </a>
      </div>
    </div>
  </div>
</div>
